JWT_SECRET=
JWT_EXPIRATION=1d
# MYSQL_HOST=
# MYSQL_PORT=
# MYSQL_DATABASE=
# MYSQL_USERNAME=
# MYSQL_PASSWORD=
# MYSQL_SYNCHRONIZE=

POSTGRES_HOST=localhost
POSTGRES_PORT=5579
POSTGRES_DATABASE=pos_db
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=belluk
POSTGRES_SYNCHRONIZE=true

CSRF_SECRET=
FRONTEND_URL=
SALT_ROUNDS=
SWAGGER_USERNAME=
SWAGGER_PASSWORD=
SWAGGER_UI_ENABLED=true
NODE_ENV=development